<h1> Sign up or Create new Account </h1>
<%= form_for :users, url: {action: "loggin"} do |f| %>
<%= flash[:error] %>
<br>

<%= f.label :email %><br>
<%= f.text_field :email %><br>
<%= f.label :password %><br>
<%= f.password_field :password %><br>
<%= f.submit 'Sign Up'%>
<%end%>
